/*
<!--
Interactive Portfolio Main CSS
(C) Elena Sparacio 2018
-->
*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Karla|Montserrat|PT+Sans|Raleway|Lato');

body{
  padding-bottom: 100px;
  background: black;
  font-family:'Source Sans Pro';
  letter-spacing: 0.5px;
}

.row .col {
  font-family:'Source Sans Pro';
  letter-spacing: 0.5px; 
}

.header-img{
    position:relative;
    margin:auto;
    height:700px;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-image:url("../images/moon.jpg");
}

.navbar-nav{
  padding-right:2em;
}

.nav-item{
  padding:1em;
}

.navbar-brand,
.navbar-nav li a {
  font-family: 'Fjalla One';
  font-size:1.5em;
}

.centered h1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    color:white;
    text-align:center;
    font-size:250%;
    font-family:Raleway;
    font-weight:100;
}

.title{
  text-align:center;
  font-family:'Roboto Slab';
  font-weight:100;

}

.card-img{
   height:150px;
   width:150px;
   padding: 1em;
}

.card {
  background:transparent;
  transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}

.test{
  background-color: blue;
  font-size: 10px;
}

.large {
  font-size:1.5em;
  padding:2em;
}

.big {
  width:100%;
}

.me {
  padding: 1em;
}

strong{
  color:#7AE5FF;
}

@media only screen and (max-width: 768px) {
   .navbar .navbar-collapse {
       background-color: black;
       opacity: 0.75;
    } 
    .navbar .navbar-collapse .navbar-nav .nav-item{
       padding:0.3em;
    } 
}


